
8p361-project-imaging-master/Main project/keras_metadata.pb
8p361-project-imaging-master/Main project/logs/model_dropout_0.25_myrthe/train/events.out.tfevents.1647775800.S20192024.18132.0.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647776076.S20192024.18132.1.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647776495.S20192024.18132.2.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647778215.S20192024.18132.3.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/validation/events.out.tfevents.1647788540.S20192024.18132.4.v2
8p361-project-imaging-master/Main project/model_dropout_0.25_myrthe.json
8p361-project-imaging-master/Main project/model_nodropout_myrthe.json
8p361-project-imaging-master/Main project/model_nodropout_myrthe_weights.hdf5
8p361-project-imaging-master/Main project/my_model_resnet50/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/Oriëntation/main_project_litreview_myrtheboone.docx
8p361-project-imaging-master/Main project/saved_model.pb
8p361-project-imaging-master/Main project/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/variables/variables.index
8p361-project-imaging-master/Main project/saved_model.pb
8p361-project-imaging-master/Main project/Oriëntation/main_project_litreview_myrtheboone.docx
