
8p361-project-imaging-master/Main project/keras_metadata.pb
8p361-project-imaging-master/Main project/logs/model_dropout_0.25_myrthe/train/events.out.tfevents.1647775800.S20192024.18132.0.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647776076.S20192024.18132.1.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647776495.S20192024.18132.2.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/train/events.out.tfevents.1647778215.S20192024.18132.3.v2
8p361-project-imaging-master/Main project/logs/model_nodropout_myrthe/validation/events.out.tfevents.1647788540.S20192024.18132.4.v2
8p361-project-imaging-master/Main project/model_dropout_0.25_myrthe.json
8p361-project-imaging-master/Main project/model_nodropout_myrthe.json
8p361-project-imaging-master/Main project/model_nodropout_myrthe_weights.hdf5
8p361-project-imaging-master/Main project/my_model_resnet50/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/Oriëntation/main_project_litreview_myrtheboone.docx
8p361-project-imaging-master/Main project/saved_model.pb
8p361-project-imaging-master/Main project/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/variables/variables.index
8p361-project-imaging-master/Main project/saved_model.pb
8p361-project-imaging-master/Main project/Oriëntation/main_project_litreview_myrtheboone.docx
8p361-project-imaging-master/code/logs/cnn_model_assignment4/train/events.out.tfevents.1648106755.S20192024.18132.5.v2
8p361-project-imaging-master/Main project/AlexNet_Adam_30_nodrop/keras_metadata.pb
8p361-project-imaging-master/Main project/AlexNet_Adam_30_nodrop/saved_model.pb
8p361-project-imaging-master/Main project/AlexNet_Adam_30_nodrop/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/AlexNet_Adam_30_nodrop/variables/variables.index
8p361-project-imaging-master/Main project/AlexNet_SGD_20_drop02/keras_metadata.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_20_drop02/saved_model.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_20_drop02/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/AlexNet_SGD_20_drop02/variables/variables.index
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop02/keras_metadata.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop02/saved_model.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop02/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop02/variables/variables.index
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop04/keras_metadata.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop04/saved_model.pb
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop04/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/AlexNet_SGD_30_drop04/variables/variables.index
8p361-project-imaging-master/Main project/hyperparameter_tuning2.py
8p361-project-imaging-master/Main project/hyperparameters/helloworld/oracle.json
8p361-project-imaging-master/Main project/hyperparameters/helloworld/trial_0/checkpoint
8p361-project-imaging-master/Main project/hyperparameters/helloworld/trial_0/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/hyperparameters/helloworld/trial_0/checkpoint.index
8p361-project-imaging-master/Main project/hyperparameters/helloworld/trial_0/trial.json
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_30epochs/train/events.out.tfevents.1648493130.S20192024.21136.0.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_30epochs/train/events.out.tfevents.1648501207.S20192024.21136.2.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_30epochs/validation/events.out.tfevents.1648495627.S20192024.21136.1.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_30epochs/validation/events.out.tfevents.1648503687.S20192024.21136.3.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_dropout02_30epochs/train/events.out.tfevents.1648744962.S20192024.21136.12.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_Adam_dropout02_30epochs/validation/events.out.tfevents.1648748418.S20192024.21136.13.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_sgd_20epochs/train/events.out.tfevents.1648208086.S20192024.18132.9.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_sgd_20epochs/train/events.out.tfevents.1648296581.S20192024.18132.11.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_sgd_20epochs/validation/events.out.tfevents.1648210718.S20192024.18132.10.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_sgd_20epochs/validation/events.out.tfevents.1648299173.S20192024.18132.12.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_clownings/train/events.out.tfevents.1648981710.S20192024.13804.0.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout02_20epochs/train/events.out.tfevents.1648884237.S20192024.21136.14.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout02_20epochs/validation/events.out.tfevents.1648887530.S20192024.21136.15.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout02_30epochs/train/events.out.tfevents.1648566760.S20192024.21136.4.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout02_30epochs/train/events.out.tfevents.1648567139.S20192024.21136.5.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout02_30epochs/validation/events.out.tfevents.1648569520.S20192024.21136.6.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout04_30epochs/train/events.out.tfevents.1648645334.S20192024.21136.7.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout04_30epochs/train/events.out.tfevents.1648645358.S20192024.21136.8.v2
8p361-project-imaging-master/Main project/logs/model__alexnet_SGD_dropout04_30epochs/validation/events.out.tfevents.1648647973.S20192024.21136.9.v2
8p361-project-imaging-master/Main project/model__alexnet_Adam_30epochs.json
8p361-project-imaging-master/Main project/model__alexnet_Adam_30epochs_weights.hdf5
8p361-project-imaging-master/Main project/model__alexnet_Adam_dropout02_30epochs.json
8p361-project-imaging-master/Main project/model__alexnet_Adam_dropout02_30epochs_weights.hdf5
8p361-project-imaging-master/Main project/model__alexnet_sgd_20epochs.json
8p361-project-imaging-master/Main project/model__alexnet_sgd_20epochs_weights.hdf5
8p361-project-imaging-master/Main project/model__alexnet_SGD_clownings.json
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout02_20epochs.json
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout02_20epochs_weights.hdf5
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout02_30epochs.json
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout02_30epochs_weights.hdf5
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout04_30epochs.json
8p361-project-imaging-master/Main project/model__alexnet_SGD_dropout04_30epochs_weights.hdf5
8p361-project-imaging-master/Main project/my_dir/helloworld/oracle.json
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_0/trial.json
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_1/checkpoint
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_1/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_1/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_1/trial.json
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_2/checkpoint
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_2/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_2/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/helloworld/trial_2/trial.json
8p361-project-imaging-master/Main project/my_dir/helloworld/tuner0.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/oracle.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0000/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0000/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0000/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0000/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0001/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0001/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0001/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0001/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0002/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0002/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0002/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0002/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0003/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0003/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0003/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0003/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0004/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0004/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0004/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0004/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0005/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0005/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0005/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0005/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0006/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0006/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0006/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0006/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0007/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0007/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0007/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0007/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0008/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0008/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0008/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0008/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0009/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0009/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0009/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0009/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0010/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0010/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0010/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0010/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0011/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0011/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0011/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0011/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0012/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0012/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0012/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0012/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0013/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0013/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0013/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0013/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0014/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0014/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0014/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0014/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0015/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0015/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0015/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0015/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0016/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0016/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0016/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0016/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0017/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0017/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0017/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0017/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0018/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0018/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0018/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0018/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0019/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0019/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0019/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0019/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0020/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0020/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0020/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0020/trial.json
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0021/checkpoint
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0021/checkpoint.data-00000-of-00001
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/trial_0021/checkpoint.index
8p361-project-imaging-master/Main project/my_dir/intro_to_kt/tuner0.json
8p361-project-imaging-master/Main project/Partly_trained_alexnet_20epochs.h5
8p361-project-imaging-master/Main project/Partly_trained_alexnet_20epochs/keras_metadata.pb
8p361-project-imaging-master/Main project/Partly_trained_alexnet_20epochs/saved_model.pb
8p361-project-imaging-master/Main project/Partly_trained_alexnet_20epochs/variables/variables.data-00000-of-00001
8p361-project-imaging-master/Main project/Partly_trained_alexnet_20epochs/variables/variables.index
8p361-project-imaging-master/Main project/Results/accuracy_curves_resnet.png
8p361-project-imaging-master/Main project/Results/AlexNet_accuracy_20epochs_nodropout_lr01.png
8p361-project-imaging-master/Main project/Results/resnet dropout layers accuracy.xlsx
8p361-project-imaging-master/Main project/Results/ROC_alexnet_7epochs_2403.png
8p361-project-imaging-master/Main project/Results/roc_curve_resnet.png
8p361-project-imaging-master/Main project/Results/val_curve_resnet.png
